.bottom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.bottom-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.toggle {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    margin-left: auto;
}

.toggle:not(:last-of-type) {
    margin-right: 40px;
}

.toggle input {
    width: 40px;
    height: 20px;
    appearance: none;
    background: #ccc;
    border-radius: 10px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.toggle input:checked {
    background: #007bff;
}

.toggle input:checked::before {
    left: 22px;
}

.toggle input::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    transition: 0.2s;
}