.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.filter-input {
    width: 100%;
    padding: 10px 16px;
    font-size: 14px;
    background: #f3f3f3;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.filter-input:hover,
.input-label-detail:hover {
    background: #ffffff;
}

.filter-input:focus,
.input-label-detail:focus {
    background: #fff;
    border-color: #4da3ff;
    box-shadow: 0 0 6px rgba(77, 163, 255, 0.35);
    outline: none;
}

.input-label-detail {
    width: 100%;
    padding: 6px 10px;
    font-size: 12px;
    background: #f3f3f3;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.table-viewport {
    max-height: 240px;
    overflow-y: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f0f2f5;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

tr.highlight {
    background-color: #ff6b6b;
    color: white;
}

tr.highlight-unknown {
    background-color: #4da3ff;
    color: white;
}

.back-btn {
    align-self: flex-start;
    /* margin-bottom: 10px; */
}

td.action-links {
    border: none !important;
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    vertical-align: middle;
}

.editing {
    padding-top: 14px;
    opacity: 0;
    transform: translateY(-4px) scale(0.95);
    animation: actionFadeIn 0.15s forwards ease-out;
}

@keyframes actionFadeIn {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.action-links svg {
    background: none !important;
    padding: 0 !important;
    border: none !important;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.edit-input {
    width: 100%;
    padding: 4px 8px;
    font-size: 12px;
    background: #f3f3f3;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.2s ease;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeIn 0.15s forwards ease-out;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.edit-input:focus {
    border-color: #1a8cff;
    background: white;
    outline: none;
}
